version: '3.9'

services:
  python-app:
    build: 
      context: .
      dockerfile: Dockerfile

    container_name: crud-two-app
 
    volumes:
      - ../..:/workspaces:cached

    command: sleep infinity

    # Runs app on the same network as the database container, allows "forwardPorts" in devcontainer.json function.
    networks: 
      - keycloak-dbs-brokers_backend_network

    ports:
      - "8000:8000"# Overrides default command so things don't shut down after the process ends.

    user: vscode

    # Resource limits for 16GB RAM / i7-1355U workstation
    deploy:
      resources:
        limits:
          cpus: '4'
          memory: 8G
        reservations:
          cpus: '2'
          memory: 4G

    # Use "forwardPorts" in **devcontainer.json** to forward an app port locally. 
    # (Adding the "ports" property to this file will not forward from a Codespace.)

networks:
  keycloak-dbs-brokers_backend_network:
    external: true
    name: keycloak-dbs-brokers_backend_network
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: keycloak-dbs-brokers_backend_network
    enable_ipv6: false
    ipam:
      driver: default
      config:
        - subnet: 237.84.2.178/16
          gateway: 237.84.2.178